.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 58px;
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

/* MOBILE ONLY */
@media (min-width: 768px) {
  .nav {
    display: none;
  }
}

.link {
  text-decoration: none;
  flex: 1;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #9ca3af;
}

.item svg {
  font-size: 18px;
}

.active {
  color: #0b5ed7;
  }
