html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  max-width: 100%;
}
