/* MOBILE APP LOOK (centered) */
.app-container {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  min-height: 100vh;
  background: #F3F4F6;
}

/* DESKTOP FULL WIDTH */
@media (min-width: 768px) {
  .app-container {
    max-width: 100%;
    margin: 0;
    background: #F3F4F6;
  }
}
